@import url('https://fonts.googleapis.com/css2?family=Battambang:wght@300;700&display=swap');

body{
  background-color: #adc2d3;
  transition: all .5s ease-in-out .2s;
}

.soc{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  column-gap: 15vw;

  position: relative;
  top: 40vh;
  left: 5vw;

  width: fit-content;
  height: 70vh;
}

.ME{
  position: inherit;
  top: 3vh;
  
  width: fit-content;
  height: fit-content;

  transition: all .5s ease-in-out .2s;
  color: #3b707d;
}

.ME p{
  font-size: 2.5vw;
  font-family: 'Battambang', light-300;
  margin: 0 0 0 0;
  text-align: center;
}

.ME2{
  width: fit-content;
  transition: all .5s ease-in-out .2s;
}
.ME2 img{
  width: 20vw;
}

.social{
  display: flex;
  flex-direction: column;
  row-gap: 5vh;
  width: fit-content;
}
.social button{
  width: fit-content;
  background-color: transparent;
  border: 0;
  border-radius: 5vw;
  margin-top: 10px;
  transition: all .5s ease-in-out .2s;
}
.social button:hover{
  background-color: #f7c9b6;
  border-radius: 5vw;
}
.social img{
  width: 4vw;
  transition: all .5s ease-in-out .2s;
}

.a{
  color:#242e2d;text-decoration: none;
  transition: all .5s ease-in-out .2s;
}

.NL{
  position: relative;
  top: 60vh;
  left: 6vw;
  width: fit-content;
  height: 50vh;
  color: #3b707d;
}
.NL div{
  position: relative;
  left: 18vw;
  font-size: 1.5vw;
  font-family: 'Battambang', light-300;
  transition: all .5s ease-in-out .2s;
  width: fit-content;
  text-align: center;
}
.NL h1{
  position: relative;
  left: 36vw;
  font-family: 'Battambang', bold-700;
  font-size: 2vw;
  font-weight: bold;
  transition: all .5s ease-in-out .2s;
  width: fit-content;
}
.NL p{
  position: relative;
  right: 1vw;
  font-size: 1.5vw;
  font-family: 'Battambang', light-300;
  transition: all .5s ease-in-out .2s;
}


.topbtn{
  display: none; 
  position: fixed; 
  bottom: 1vw; 
  right: 1vw; 
  z-index: 99; 
  border: none; 
  outline: none; 
  background-color: #E6C2BF; 
  cursor: pointer; 
  padding: 0; 
  border-radius: 2vw; 
  transition: all .5s ease-in-out .2s;
}
.topbtn img{
  width: 2vw;
}

.topbtn:hover{
  background-color: #E6C2BF;
}

@media screen and (max-width: 1000px) {
  .soc{
    left: 1vw;
    column-gap: 7vw;
  }

  .ME{
    top: 0vh;
  }

  .ME p{
    font-size: 5vw;

  }

  .ME2 img{
    width: 30vw;
  }

  .social img{
    width: 8vw;
  }
  
  .NL{
    left: 1vw;
    top: 30vh;
    height: 50vw;
  }

  .NL h1{
    left: 30vw;
    font-size: 7vw;
  }
  .NL div{
    font-size: 3vw;
    left: -1vw;
  }

  .NL p{
    font-size: 3vw;
  }

  .topbtn{
    bottom: 1vw;
    right: 2vw;
  }

  .topbtn img{
    width: 5vw;
  }
}