@import url('https://fonts.googleapis.com/css2?family=Battambang:wght@300&display=swap');

.body{
    background-color: #282120;
}

.topnav {
    overflow: hidden;
    background-color: #E6C2BF;
    position: sticky;
  }
  
  .topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
  }
  
  .topnav a:hover {
    background-color: #A8A7D3;
    color: #282120;
  }
  
  .topnav a.active {
    background-color: #a7a5e6;
    color: #282120;
  }

.title_text .p .paragraphs {
    font-family: 'Battambang', cursive;
}

.title_text{
    color: #F8EFE4;
    font-weight: bolder;
    font-size: 30px;
    position: absolute;
    padding: -100 0 0 100;
    top: 10%;
    left: 45%;
}

.p{
  font-weight: normal;
  font-size: 27px;
  color: #F8EFE4;
}

.paragraphs{
    color: #F8EFE4;
    font-weight: normal;
    font-size: 23px;
    position: absolute;
    padding: -100 0 0 100;
    top: 30%;
    left: 5%;
    right: 5%;
    display: inline;
}

.a{
  color:#E6C2BF;
  text-decoration: underline;
}

.flex_cont{
  top: 45%;
  left: 27%;
  position: absolute;
  padding: -100 0 0 100;
  display: flex;
  flex-direction: row;
}

.flex_cont_text{
  top: 60%;
  left: 32%;
  position: absolute;
  padding: -100 0 0 100;
  font-size: 30px;
  display: flex;
  flex-direction: row;
  
}

.flex_cont_text > div{
  flex:1 1 auto;
  margin-right: 160px;
}

.cont_img{
  width: 100px;
  height: 100px;
}

#topbtn{
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #E6C2BF; /* Set a background color */
  color: #282120; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  
}

#topbtn:hover{
  background-color: #E6C2BF;
  color: #282120;
}

@media screen and (max-width: 1000px){
  
  .topnav a{
    font-size: 3vw;
  }

  .title_text{
    font-size: 5vw;
    left: 34vw;
  }

  .p .contact_text{
    font-size: 5vw;
  }

  .paragraphs{
    font-size: 3vw;
  }

  #topbtn{
    bottom: 5vh;
    right: 5vw;
    padding: 1vw;
  }

  .flex_cont{
    top: 30vh;
    left: 0vw;

  }

  .flex_cont_text{
    top: 50vh;
    left: 5vw;
    font-size: 5vw;
  }

  .flex_cont_text > div{
    margin-right: 10vw;
  }
}